/* colors */
$c-mouth: #831C21;
$c-beard: #A7761C;
$c-hair: #736831;
$c-glasses: #272310;
$c-eyes: #ffffff;
$c-skin: #DEC763;
$c-shirt: #006277; //#7A7A7A

body {
  padding-top: 2em;
  font-size: 15px;
  background-color: #4ea077;
}

.circle{
    position:relative;
    width:20em; height:20em;
    margin:0 auto;
    overflow:hidden;
    z-index: 2;
    background: #fff;
}

.circle:after{
    content:'';
    position:absolute;
    border-radius:100%;
    width:20em; height:20em;
    box-shadow: 0px 0px 0px 2000px #4ea077;
}

/* Character body */
.basic {
  background: $c-mouth;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  box-shadow: 
    // Line 1 mouth
    -7em 0 0 $c-beard,
    -6em 0 0 $c-beard,
    -5em 0 0 $c-skin,
    -4em 0 0 $c-skin,
    -3em 0 0 $c-beard,
    -2em 0 0 $c-beard,
    -1em 0 0 $c-mouth,
    0 0 0 $c-mouth,
    1em 0 0 $c-beard,
    2em 0 0 $c-beard,
    3em 0 0 $c-skin,
    4em 0 0 $c-skin,
    5em 0 0 $c-beard,
    6em 0 0 $c-beard,
    
    //     line 2 beard
    -7em 1em 0 $c-beard,
    -6em 1em 0 $c-beard,
    -5em 1em 0 $c-beard,
    -4em 1em 0 $c-beard,
    -3em 1em 0 $c-beard,
    -2em 1em 0 $c-beard,
    -1em 1em 0 $c-beard,
    0em 1em 0 $c-beard,
    1em 1em 0 $c-beard,
    2em 1em 0 $c-beard,
    3em 1em 0 $c-beard,
    4em 1em 0 $c-beard,
    5em 1em 0 $c-beard,
    6em 1em 0 $c-beard,
    
    //     line 3 beard
    -6em 2em 0 $c-beard,
    -5em 2em 0 $c-beard,
    -4em 2em 0 $c-beard,
    -3em 2em 0 $c-beard,
    -2em 2em 0 $c-beard,
    -1em 2em 0 $c-beard,
    0em 2em 0 $c-beard,
    1em 2em 0 $c-beard,
    2em 2em 0 $c-beard,
    3em 2em 0 $c-beard,
    4em 2em 0 $c-beard,
    5em 2em 0 $c-beard,
    
    //     line 4 beard
    -5em 3em 0 $c-beard,
    -4em 3em 0 $c-beard,
    -3em 3em 0 $c-beard,
    -2em 3em 0 $c-beard,
    -1em 3em 0 $c-beard,
    0em 3em 0 $c-beard,
    1em 3em 0 $c-beard,
    2em 3em 0 $c-beard,
    3em 3em 0 $c-beard,
    4em 3em 0 $c-beard,
    
    //     line 5 beard
    -4em 4em 0 $c-beard,
    -3em 4em 0 $c-beard,
    -2em 4em 0 $c-beard,
    -1em 4em 0 $c-beard,
    0em 4em 0 $c-beard,
    1em 4em 0 $c-beard,
    2em 4em 0 $c-beard,
    3em 4em 0 $c-beard,
    
    //     line 1 shirt
    -6em 5em 0 $c-shirt,
    -5em 5em 0 $c-shirt,
    -4em 5em 0 $c-shirt,
    -3em 5em 0 $c-shirt,
    -2em 5em 0 $c-skin,
    -1em 5em 0 $c-skin,
    0em 5em 0 $c-skin,
    1em 5em 0 $c-skin,
    2em 5em 0 $c-shirt,
    3em 5em 0 $c-shirt,
    4em 5em 0 $c-shirt,
    5em 5em 0 $c-shirt,
    
    //     line 2 shirt
    -7em 6em 0 $c-shirt,
    -6em 6em 0 $c-shirt,
    -5em 6em 0 $c-shirt,
    -4em 6em 0 $c-shirt,
    -3em 6em 0 $c-shirt,
    -2em 6em 0 $c-shirt,
    -1em 6em 0 $c-shirt,
    0em 6em 0 $c-shirt,
    1em 6em 0 $c-shirt,
    2em 6em 0 $c-shirt,
    3em 6em 0 $c-shirt,
    4em 6em 0 $c-shirt,
    5em 6em 0 $c-shirt,
    6em 6em 0 $c-shirt,
    
    //     line 3 shirt
    -7em 7em 0 $c-shirt,
    -6em 7em 0 $c-shirt,
    -5em 7em 0 $c-shirt,
    -4em 7em 0 $c-shirt,
    -3em 7em 0 $c-shirt,
    -2em 7em 0 $c-shirt,
    -1em 7em 0 $c-shirt,
    0em 7em 0 $c-shirt,
    1em 7em 0 $c-shirt,
    2em 7em 0 $c-shirt,
    3em 7em 0 $c-shirt,
    4em 7em 0 $c-shirt,
    5em 7em 0 $c-shirt,
    6em 7em 0 $c-shirt,

        //     line 4 shirt
    -7em 8em 0 $c-shirt,
    -6em 8em 0 $c-shirt,
    -5em 8em 0 $c-shirt,
    -4em 8em 0 $c-shirt,
    -3em 8em 0 $c-shirt,
    -2em 8em 0 $c-shirt,
    -1em 8em 0 $c-shirt,
    0em 8em 0 $c-shirt,
    1em 8em 0 $c-shirt,
    2em 8em 0 $c-shirt,
    3em 8em 0 $c-shirt,
    4em 8em 0 $c-shirt,
    5em 8em 0 $c-shirt,
    6em 8em 0 $c-shirt,

    //     line 4 shirt
    -7em 9em 0 $c-shirt,
    -6em 9em 0 $c-shirt,
    -5em 9em 0 $c-shirt,
    -4em 9em 0 $c-shirt,
    -3em 9em 0 $c-shirt,
    -2em 9em 0 $c-shirt,
    -1em 9em 0 $c-shirt,
    0em 9em 0 $c-shirt,
    1em 9em 0 $c-shirt,
    2em 9em 0 $c-shirt,
    3em 9em 0 $c-shirt,
    4em 9em 0 $c-shirt,
    5em 9em 0 $c-shirt,
    6em 9em 0 $c-shirt,
    
    // Line 1 eyes
    -7em -1em 0 $c-glasses,
    -6em -1em 0 $c-glasses,
    -5em -1em 0 $c-glasses,
    -4em -1em 0 $c-glasses,
    -3em -1em 0 $c-glasses,
    -2em -1em 0 $c-glasses,
    -1em -1em 0 $c-beard,
    0 -1em 0 $c-beard,
    1em -1em 0 $c-glasses,
    2em -1em 0 $c-glasses,
    3em -1em 0 $c-glasses,
    4em -1em 0 $c-glasses,
    5em -1em 0 $c-glasses,
    6em -1em 0 $c-glasses,
    
    // Line 2 eyes
    -8em -2em 0 $c-skin,
    -7em -2em 0 $c-glasses,
    -6em -2em 0 $c-eyes,
    -5em -2em 0 $c-eyes,
    -4em -2em 0 $c-eyes,
    -3em -2em 0 $c-eyes,
    -2em -2em 0 $c-glasses,
    -1em -2em 0 $c-skin,
    0 -2em 0 $c-skin,
    1em -2em 0 $c-glasses,
    2em -2em 0 $c-eyes,
    3em -2em 0 $c-eyes,
    4em -2em 0 $c-eyes,
    5em -2em 0 $c-eyes,
    6em -2em 0 $c-glasses,
    7em -2em 0 $c-skin,
    
    // Line 3 eyes
    -8em -3em 0 $c-skin,
    -7em -3em 0 $c-glasses,
    -6em -3em 0 $c-eyes,
    -5em -3em 0 $c-eyes,
    -4em -3em 0 $c-glasses,
    -3em -3em 0 $c-glasses,
    -2em -3em 0 $c-glasses,
    -1em -3em 0 $c-skin,
    0 -3em 0 $c-skin,
    1em -3em 0 $c-glasses,
    2em -3em 0 $c-eyes,
    3em -3em 0 $c-eyes,
    4em -3em 0 $c-glasses,
    5em -3em 0 $c-glasses,
    6em -3em 0 $c-glasses,
    7em -3em 0 $c-skin,
    
    // Line 4 eyes
    -8em -4em 0 $c-glasses,
    -7em -4em 0 $c-glasses,
    -6em -4em 0 $c-eyes,
    -5em -4em 0 $c-eyes,
    -4em -4em 0 $c-glasses,
    -3em -4em 0 $c-glasses,
    -2em -4em 0 $c-glasses,
    -1em -4em 0 $c-glasses,
    0 -4em 0 $c-glasses,
    1em -4em 0 $c-glasses,
    2em -4em 0 $c-eyes,
    3em -4em 0 $c-eyes,
    4em -4em 0 $c-glasses,
    5em -4em 0 $c-glasses,
    6em -4em 0 $c-glasses,
    7em -4em 0 $c-glasses,
    
    // Line 5 eyes
    -7em -5em 0 $c-glasses,
    -6em -5em 0 $c-glasses,
    -5em -5em 0 $c-glasses,
    -4em -5em 0 $c-glasses,
    -3em -5em 0 $c-glasses,
    -2em -5em 0 $c-glasses,
    -1em -5em 0 $c-skin,
    0 -5em 0 $c-skin,
    1em -5em 0 $c-glasses,
    2em -5em 0 $c-glasses,
    3em -5em 0 $c-glasses,
    4em -5em 0 $c-glasses,
    5em -5em 0 $c-glasses,
    6em -5em 0 $c-glasses,
    
    // Line 1 hair
    -7em -6em 0 $c-hair,
    -6em -6em 0 $c-skin,
    -5em -6em 0 $c-skin,
    -4em -6em 0 $c-skin,
    -3em -6em 0 $c-skin,
    -2em -6em 0 $c-skin,
    -1em -6em 0 $c-skin,
    0 -6em 0 $c-skin,
    1em -6em 0 $c-skin,
    2em -6em 0 $c-skin,
    3em -6em 0 $c-skin,
    4em -6em 0 $c-skin,
    5em -6em 0 $c-skin,
    6em -6em 0 $c-hair,
    
    // Line 2 hair
    -7em -7em 0 $c-hair,
    -6em -7em 0 $c-hair,
    -5em -7em 0 $c-skin,
    -4em -7em 0 $c-skin,
    -3em -7em 0 $c-skin,
    -2em -7em 0 $c-skin,
    -1em -7em 0 $c-skin,
    0 -7em 0 $c-skin,
    1em -7em 0 $c-skin,
    2em -7em 0 $c-skin,
    3em -7em 0 $c-skin,
    4em -7em 0 $c-skin,
    5em -7em 0 $c-hair,
    6em -7em 0 $c-hair,
    
    // Line 3 hair
    -6em -8em 0 $c-hair,
    -5em -8em 0 $c-hair,
    -4em -8em 0 $c-hair,
    -3em -8em 0 $c-hair,
    -2em -8em 0 $c-hair,
    -1em -8em 0 $c-hair,
    0 -8em 0 $c-hair,
    1em -8em 0 $c-hair,
    2em -8em 0 $c-hair,
    3em -8em 0 $c-hair,
    4em -8em 0 $c-hair,
    5em -8em 0 $c-hair,
    
    // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
}

.basic::after {
  -webkit-animation: look 4s steps(1) alternate infinite;
  animation: look 4s steps(1) alternate infinite;
  content: "";
  height: 1em;
  left: 0em;
  position: absolute;
  top: 0em;
  width: 1em;
  z-index: 1;
  box-shadow:
    // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
}

@-webkit-keyframes look {
  0% {
    box-shadow:
    -8em -3em 0 $c-skin,
    -7em -3em 0 $c-glasses,
    -6em -3em 0 $c-eyes,
    -5em -3em 0 $c-eyes,
    -4em -3em 0 $c-glasses,
    -3em -3em 0 $c-glasses,
    -2em -3em 0 $c-glasses,
    -1em -3em 0 $c-skin,
    0 -3em 0 $c-skin,
    1em -3em 0 $c-glasses,
    2em -3em 0 $c-eyes,
    3em -3em 0 $c-eyes,
    4em -3em 0 $c-glasses,
    5em -3em 0 $c-glasses,
    6em -3em 0 $c-glasses,
    7em -3em 0 $c-skin,
    
    // Line 4 eyes
    -8em -4em 0 $c-glasses,
    -7em -4em 0 $c-glasses,
    -6em -4em 0 $c-eyes,
    -5em -4em 0 $c-eyes,
    -4em -4em 0 $c-glasses,
    -3em -4em 0 $c-glasses,
    -2em -4em 0 $c-glasses,
    -1em -4em 0 $c-glasses,
    0 -4em 0 $c-glasses,
    1em -4em 0 $c-glasses,
    2em -4em 0 $c-eyes,
    3em -4em 0 $c-eyes,
    4em -4em 0 $c-glasses,
    5em -4em 0 $c-glasses,
    6em -4em 0 $c-glasses,
    7em -4em 0 $c-glasses,
      
      // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
      ;
  }
  25% {
    box-shadow:
       -8em -3em 0 $c-skin,
    -7em -3em 0 $c-glasses,
    -6em -3em 0 $c-eyes,
    -5em -3em 0 $c-glasses,
    -4em -3em 0 $c-glasses,
    -3em -3em 0 $c-eyes,
    -2em -3em 0 $c-glasses,
    -1em -3em 0 $c-skin,
    0 -3em 0 $c-skin,
    1em -3em 0 $c-glasses,
    2em -3em 0 $c-eyes,
    3em -3em 0 $c-glasses,
    4em -3em 0 $c-glasses,
    5em -3em 0 $c-eyes,
    6em -3em 0 $c-glasses,
    7em -3em 0 $c-skin,
    
    // Line 4 eyes
    -8em -4em 0 $c-glasses,
    -7em -4em 0 $c-glasses,
    -6em -4em 0 $c-eyes,
    -5em -4em 0 $c-glasses,
    -4em -4em 0 $c-glasses,
    -3em -4em 0 $c-eyes,
    -2em -4em 0 $c-glasses,
    -1em -4em 0 $c-glasses,
    0 -4em 0 $c-glasses,
    1em -4em 0 $c-glasses,
    2em -4em 0 $c-eyes,
    3em -4em 0 $c-glasses,
    4em -4em 0 $c-glasses,
    5em -4em 0 $c-eyes,
    6em -4em 0 $c-glasses,
    7em -4em 0 $c-glasses,
      
      // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
      ;
  }
  50% {
    box-shadow:
        -8em -3em 0 $c-skin,
    -7em -3em 0 $c-glasses,
    -6em -3em 0 $c-eyes,
    -5em -3em 0 $c-glasses,
    -4em -3em 0 $c-glasses,
    -3em -3em 0 $c-eyes,
    -2em -3em 0 $c-glasses,
    -1em -3em 0 $c-skin,
    0 -3em 0 $c-skin,
    1em -3em 0 $c-glasses,
    2em -3em 0 $c-eyes,
    3em -3em 0 $c-glasses,
    4em -3em 0 $c-glasses,
    5em -3em 0 $c-eyes,
    6em -3em 0 $c-glasses,
    7em -3em 0 $c-skin,
    
    // Line 4 eyes
    -8em -4em 0 $c-glasses,
    -7em -4em 0 $c-glasses,
    -6em -4em 0 $c-eyes,
    -5em -4em 0 $c-glasses,
    -4em -4em 0 $c-glasses,
    -3em -4em 0 $c-eyes,
    -2em -4em 0 $c-glasses,
    -1em -4em 0 $c-glasses,
    0 -4em 0 $c-glasses,
    1em -4em 0 $c-glasses,
    2em -4em 0 $c-eyes,
    3em -4em 0 $c-glasses,
    4em -4em 0 $c-glasses,
    5em -4em 0 $c-eyes,
    6em -4em 0 $c-glasses,
    7em -4em 0 $c-glasses,
      
      // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
      ;
  }
  75% {
    box-shadow:
        -8em -3em 0 $c-skin,
    -7em -3em 0 $c-glasses,
    -6em -3em 0 $c-glasses,
    -5em -3em 0 $c-glasses,
    -4em -3em 0 $c-eyes,
    -3em -3em 0 $c-eyes,
    -2em -3em 0 $c-glasses,
    -1em -3em 0 $c-skin,
    0 -3em 0 $c-skin,
    1em -3em 0 $c-glasses,
    2em -3em 0 $c-glasses,
    3em -3em 0 $c-glasses,
    4em -3em 0 $c-eyes,
    5em -3em 0 $c-eyes,
    6em -3em 0 $c-glasses,
    7em -3em 0 $c-skin,
    
    // Line 4 eyes
    -8em -4em 0 $c-glasses,
    -7em -4em 0 $c-glasses,
    -6em -4em 0 $c-glasses,
    -5em -4em 0 $c-glasses,
    -4em -4em 0 $c-eyes,
    -3em -4em 0 $c-eyes,
    -2em -4em 0 $c-glasses,
    -1em -4em 0 $c-glasses,
    0 -4em 0 $c-glasses,
    1em -4em 0 $c-glasses,
    2em -4em 0 $c-glasses,
    3em -4em 0 $c-glasses,
    4em -4em 0 $c-eyes,
    5em -4em 0 $c-eyes,
    6em -4em 0 $c-glasses,
    7em -4em 0 $c-glasses,
      
      // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
      ;
  }
  90% {
    box-shadow:
      -8em -3em 0 $c-skin,
    -7em -3em 0 $c-glasses,
    -6em -3em 0 $c-glasses,
    -5em -3em 0 $c-glasses,
    -4em -3em 0 $c-eyes,
    -3em -3em 0 $c-eyes,
    -2em -3em 0 $c-glasses,
    -1em -3em 0 $c-skin,
    0 -3em 0 $c-skin,
    1em -3em 0 $c-glasses,
    2em -3em 0 $c-glasses,
    3em -3em 0 $c-glasses,
    4em -3em 0 $c-eyes,
    5em -3em 0 $c-eyes,
    6em -3em 0 $c-glasses,
    7em -3em 0 $c-skin,
    
    // Line 4 eyes
    -8em -4em 0 $c-glasses,
    -7em -4em 0 $c-glasses,
    -6em -4em 0 $c-glasses,
    -5em -4em 0 $c-glasses,
    -4em -4em 0 $c-eyes,
    -3em -4em 0 $c-eyes,
    -2em -4em 0 $c-glasses,
    -1em -4em 0 $c-glasses,
    0 -4em 0 $c-glasses,
    1em -4em 0 $c-glasses,
    2em -4em 0 $c-glasses,
    3em -4em 0 $c-glasses,
    4em -4em 0 $c-eyes,
    5em -4em 0 $c-eyes,
    6em -4em 0 $c-glasses,
    7em -4em 0 $c-glasses,
      
      // Line 4 hair
    -5em -9em 0 $c-hair,
    -4em -9em 0 $c-hair,
    -3em -9em 0 $c-hair,
    -2em -9em 0 $c-hair,
    -1em -9em 0 $c-hair,
    0 -9em 0 $c-hair,
    1em -9em 0 $c-hair,
    2em -9em 0 $c-hair,
    3em -9em 0 $c-hair,
    4em -9em 0 $c-hair,
      ;
  }
}